{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Employé</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style/employe.css' %}">
</head>

<body>
   
    <div class="container my-4 text-center">
        <a href="{% url 'personnel' %}" class="btn btn-primary btn-lg shadow">Afficher la liste des employés</a>
    </div>

    <div class="ajout">
        <a href="{% url 'ajouter_employe' %}" class="btn btn-success btn-lg shadow">Ajouter un employé</a>
    </div> 



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>