{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demander un Congé</title>
    <link rel="stylesheet" href="{% static 'style/conges.css' %}">
</head>
<body>
    <div class="container">
        <h1>Demander un Congé</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Soumettre</button>
        </form>
    </div>
</body>
</html>